{% extends "partials/base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

{%if user.is_authenticated and user.is_staff and user.is_superuser %}
<li class="nav-item">
  <a class="nav-link" href="{% url "Inventory" %}">Inventory</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url "Orders" %}">Orders</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url "Staff" %}">Staff</a>
</li>
{% else %}
{% include 'dash/staff_home.html' %}
{%endif%}
    {%endblock%}