{% extends "partials/base.html" %}
{% block title %} Inventory {% endblock %}
{% block content %}
<table class="table">
    <thead>
      <tr>
       
        <th scope="col">Product</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
        {%for Product in Dashboard.Product %}
      <tr>
      
        <td>{{Dashboard.Product.name}}</td>
        <td>{{Dashboard.Product.category}}</td>
        <td>{{Dashboard.Product.quantity}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

    {%endblock%}