{% extends "partials/base.html" %}
{% block title %} Staff {% endblock %}
{% block content %}

    <div class="col-md-8">
      <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-trnsparent text-black">
                    Customer Detail Page
                </div>
                <div class="row p-3">
                    <div class="col-md-8">
                        <table class="table table-borderless">
                            <thead>
                                <span class="h4">Porfile Information</span class="h4">
                                
                                <hr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>{{ workers.username }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{ workers.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone</th>
                                    <td>{{ workers.profile.phone }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <td>{{ workers.profile.address }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
    {%endblock%}